body{
    text-align: center;
    background-image: linear-gradient(to right top, #d6fa0c, #f30a86, #10f8b3, #7410f7, #008894);
    color: white;
}
#i{
    font-size: 20px;
    color: white;
}
.back{
    float: right;
    margin: 0px;
    padding: 10px;
    width: 5%;
    background-color: black !important;
    color: white;
    font-size: 12px;
  }

  #j{
    font-size: 20px;
    color: white;
  }
  #f{
      width: 200px;
  }
  h1{
      text-align: center;
  }